// Variables
@import 'animation';
@import 'variables';
@import 'position';
@import 'grid';
@import 'width';
@import 'text';
@import 'image';
@import 'form';
@import 'navigator';
@import 'margin';
@import 'padding';
@import 'border';
@import 'card';
@import 'chat';
@import 'tree';
@import 'login';

// variable
$panel-height: 100px;
$main-width: 1200px;
$mobile-width: calc(100% - 30px);

* {
	padding: 0;
	border: 0;
	margin: 0;
	outline: none;
	font-family: "FontFirst2", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
	@include greyScrollBar();
	background-color: #fff;
	// overflow-x: hidden;
}

a {
	text-decoration: none;
}

.app-line {
	position: relative;
	width: 80px;
	border-bottom: 3px $min-color solid;
	border-radius: 5px;
	&.center {
		margin: auto;
	}
}

.app-mobile-none-padding {
	@media (max-width: $max-width) {
		width: 100%;
		padding: 15px 0;
	}
}

.app-mobile {
	display: none !important;
	@media (max-width: $max-width) {
		display: block !important;
	}
}

.app-desktop {
	@media (max-width: $max-width) {
		display: none !important;
	}
}

.app-hide {
	display: none;
}

.app-show {
	display: block;
}

.app {
	position: relative;
	width: 100%;
	.header {
		position: relative;
		width: 100%;
		height: $panel-height;
		.place {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 100;
			width: 100%;
			height: $panel-height;
			background-color: #fff;
			box-shadow: $shadow;
			.info {
				position: relative;
				width: 100%;
				height: 35px;
				overflow: hidden;
				background-color: $min-color;
			}
			.h-btn {
				display: none;
				@media (max-width: $max-width) {
					display: block;
				}
			}
			.h-grid {
				position: relative;
				width: $main-width;
				margin: auto;
				@include grid_2x(100px, 1fr);
				@media (max-width: $max-width) {
					width: $mobile-width;
				}
				.col-1 {
					@include column_n(1);
				}
				.col-2 {
					@include column_n(2);
					text-align: right;
					// @media (max-width: $max-width) {
					// 	display: none;
					// }
				}
			}
		}
	}
	.body {
		position: relative;
		width: 100%;
		background-color: #fff;
	}
	.footer {
		position: relative;
		width: 100%;
		padding: 30px 0;
		background-color: #f5f5f5;
		// color: #fff;
		// * {
		// 	color: #fff !important;
		// }
	}
}

.main {
	position: relative;
	width: $main-width;
	margin: auto;
	@media (max-width: $max-width) {
		width: $mobile-width;
	}
}

.logo-header {
	line-height: $panel-height - 35px;
	color: $min-color;
}

.menu-header {
	position: relative;
	float: right;
	@media (max-width: $max-width) {
		position: fixed;
		top: $panel-height;
		right: -300px;
		width: 300px;
		height: calc(100vh - 60px);
		background-color: #fff;
		@include animate_2();
	}
	&.active {
		@media (max-width: $max-width) {
			@include animate_2();
			right: 0;
		}
	}
	li {
		position: relative;
		list-style: none;
		float: left;
		@media (max-width: $max-width) {
			float: none;
			width: 100%;
			text-align: left;
			border-bottom: $border1;
		}
		a {
			display: block;
			height: $panel-height - 35px;
			line-height: $panel-height - 35px;
			padding: 0 10px;
			font-size: 10.5pt;
			text-transform: uppercase;
			color: $txt-84-color;
			&:hover {
				height: $panel-height - 39px;
				background-color: #fff;
				color: $min-color;
				border-bottom: 4px $min-color solid;
				// @include animate_1();
			}
			&.active {
				height: $panel-height - 39px;
				background-color: #fff;
				color: $min-color;
				border-bottom: 4px $min-color solid;
			}
		}
	}
}

.title-link {
	position: relative;
	width: 100%;
	height: 50px;
	@include grid_2x(1fr, 100px);
	.col-1 {
		@include column_n(1);
	}
	.col-2 {
		@include column_n(2);
		text-align: right;
	}
	.t-l-tittle {
		font-size: 14pt;
		font-weight: 600;
		line-height: 30px;
		margin-top: 5px;
	}
	.t-l-link {
		font-size: 12pt;
		line-height: 50px;
		a {
			color: $pos-color;
			&:hover {
				text-decoration: underline;
			}
		}
	}

}

.banner {
	position: relative;
	width: 100%;
	// height: 500px;
	// margin: auto;
	// .carousel {
	// 	.slide {
	// 		background-color: #999;
	// 		height: 500px;
	// 		img {
	// 			max-height: 100%;
	// 		}
	// 	}
	// }
	.carousel {
		.slide {
			position: relative;
			min-width: calc(80% - 20px) !important;
			height: 450px;
			margin: 0 10px;
			overflow: hidden;
			border-radius: 10px;
			background-color: #f8f8f8;
			@media (max-width: $max-width) {
				height: 200px;
			}
			&.selected {
				min-width: calc(80% - 20px) !important;
				height: 450px;
				margin-top: 0;
				margin: 0 10px;
				@include animate_1();
				@media (max-width: $max-width) {
					height: 200px;
				}
			}
			img {
				// max-width: auto;
				height: 100%;
				@include post_center(absolute);
			}
		}
	}
}